@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Font */
  --font: "Inter", sans-serif;

  /* Transition */
  --transition-speed: 200ms;

  /* Primary */
  --primary-color-100: #F26CF9;
  --primary-color-90: #F589FA;
  --primary-color-50: #FCD3FE;
  --primary-color-40: #FCE2FE;
  --primary-color-30: #FDEDFE;

  /* Secondary */
  --secondary-color-110: #1C2346;
  --secondary-color-100: #37437D;
  --secondary-color-90: #5562A2;
  --secondary-color-70: #707DBF;
  --secondary-color-60: #ABB4DD;
  --secondary-color-50: #D3DAF9;

  /* Yellow */
  --yellow-color-100: #FFCA39;
  --yellow-color-90: #FFEFC3;

  /* Gray */
  --gray-color-10: #FFFFFF;
  --gray-color-20: #F7F7F7;
  --gray-color-30: #EDEDED;
  --gray-color-40: #E0E0E1;
  --gray-color-50: #C3C3C4;
  --gray-color-60: #9F9FA1;
  --gray-color-70: #777779;
  --gray-color-80: #636365;
  --gray-color-90: #434345;
  --gray-color-100: #1E1E20;

  /* Cool Gray */
  --coolgray-color-10: #EEEFFF;
  --coolgray-color-20: #E4E5F5;
  --coolgray-color-30: #DDDEED;
  --coolgray-color-40: #D1D2E0;
  --coolgray-color-50: #B0B1BD;
  --coolgray-color-60: #8F8F99;
  --coolgray-color-70: #72737A;
  --coolgray-color-80: #56565C;
  --coolgray-color-90: #39393D;
  --coolgray-color-100: #131314;

  /* Text */
  --text-color: var(--gray-color-100);
  --muted-text-color: var(--gray-color-60);
  --headline-text-color: var(--secondary-color-100);
  --logotype-text-color: var(--secondary-color-110);

  /* Background */
  --background-color: var(--gray-color-10);
  --nav-background-color: var(--coolgray-color-10);
  --header-background-color: var(--gray-color-20);
  --main-background-color: var(--gray-color-20);
  --footer-background-color: var(--gray-color-20);
  --section-background-color: var(--gray-color-20);
  --surface-background-color: var(--gray-color-20);

  /* Button - text */
  --button-text-color: var(--gray-color-90);
  --button-link-text-color: var(--primary-color-100);
  --button-primary-text-color: var(--gray-color-10);
  --button-secondary-text-color: var(--secondary-color-100);
  --button-outline-text-color: var(--gray-color-90);

  /* Button - background */
  --button-background-color: transparent;
  --button-link-background-color: transparent;
  --button-primary-background-color: var(--primary-color-100);
  --button-secondary-background-color: var(--coolgray-color-20);
  --button-outline-background-color: transparent;

  /* Button - border */
  --button-border-color: transparent;
  --button-link-border-color: transparent;
  --button-primary-border-color: var(--primary-color-100);
  --button-secondary-border-color: var(--coolgray-color-20);
  --button-outline-border-color: var(--gray-color-30);

  /* Button - hover */
  --button-hover-text-color: var(--gray-color-90);
  --button-hover-border-color: transparent;
  --button-hover-background-color: transparent;
  --button-link-hover-text-color: var(--primary-color-100);
  --button-link-hover-background-color: transparent;
  --button-link-hover-border-color: transparent;
  --button-primary-hover-text-color: var(--gray-color-10);
  --button-primary-hover-border-color: var(--primary-color-90);
  --button-primary-hover-background-color: var(--primary-color-90);
  --button-secondary-hover-background-color: var(--coolgray-color-30);

  /* Border */
  --border-color: var(--gray-color-40);

  /* Card */
  --card-background-color: var(--gray-color-10);
  --card-border-color: var(--gray-color-20);

  /* Separator */
  --separator-text-color: var(--gray-color-60);
  --separator-background-color: var(--gray-color-10);
  --separator-border-color: var(--gray-color-40);

  /* Link */
  --link-text-color: var(--primary-color-100);
  --link-hover-text-color: var(--primary-color-90);

  /* Input */
  --input-text-color: var(--gray-color-100);
  --input-background-color: var(--gray-color-10);
  --input-border-color: var(--gray-color-40);
  --input-placeholder-color: var(--gray-color-50);
  --input-border-focus-color: var(--primary-color-50);

  /* Checkbox */
  --checkbox-background-color: var(--gray-color-10);
  --checkbox-border-color: var(--gray-color-40);
  --checkbox-checked-background-color: var(--primary-color-100);
  --checkbox-checked-border-color: var(--primary-color-100);
  --checkbox-checked-text-color: var(--gray-color-10);

  /* Scrollbar */
  --color-scrollbar: var(--gray-color-80);
}

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.portal-wrapper {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  height: 100dvh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "nav" "main" "footer";

  @media (width >= 768px) {
    grid-template-columns: 72px 1fr;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }

  @media (width >= 1400px) {
    grid-template-columns: 220px 1fr;
    grid-template-areas: "nav header" "nav main" "nav footer";
  }
}

nav {
  grid-area: nav;
  background-color: var(--nav-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
  background-color: var(--header-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  .back-arrow-link {
    font-size: 20px;
    color: var(--gray-color-80);
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all var(--transition-speed) ease-in-out;

    &:hover {
      color: inherit;
    }
  }
}

main {
  grid-area: main;
  background-color: var(--main-background-color);
  border-radius: 1rem;
  padding: 1.5rem;
}

footer {
  grid-area: footer;
  background-color: var(--footer-background-color);
  border-radius: 1rem;
  padding: 1rem 1.5rem;

  span {
    font-size: 12px;
    font-weight: 600;
    color: var(--gray-color-70);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.hidden {
  visibility: hidden !important;
  display: none !important;
}

.horizontal-divider {
  width: auto;
  height: 1px;
  margin-top: 1px;
  border-bottom: 1px solid var(--border-color);
}

.vertical-divider {
  width: 5px;
  height: 1.5rem;
  margin-right: 1rem;
  border-right: 1px solid var(--border-color);
}

.surface {
  background-color: var(--surface-background-color);
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 6rem 6rem 1.8rem 6rem;
  overflow-y: auto;
  max-height: 95dvh;
  width: 600px;
}

.title {
  margin: 0;
  color: var(--headline-text-color);
}

.logotype {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  margin-left: .5rem;

  span {
    font-size: 24px;
    font-weight: 500;
    color: var(--logotype-text-color);
  }
}

.nav-list {
  margin: 2.5rem 0 2.5rem 0;

  .active-border {
    position: absolute;
    left: -24px;
    width: 5px;
    height: 2rem;
    background-color: var(--primary-color-100);
    border-radius: 0 6px 6px 0;
    pointer-events: none;
  }

  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--secondary-color-100);
    font-size: 14px;
    font-weight: 600;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    transition: all var(--transition-speed) ease-in-out;
    position: relative;

    img {
      position: absolute;
      transition: opacity var(--transition-speed) ease-in-out;
    }

    span {
      margin-bottom: 1px;
      margin-left: 2.2rem;
    }

    .default {
      opacity: 1;
    }

    .hover {
      opacity: 0;
    }

    .active {
      color: var(--primary-color-100);
      opacity: 1;
    }

    &:hover {
      color: var(--primary-color-100);

      .default {
        opacity: 0;
      }

      .hover {
        opacity: 1;
      }
    }
  }
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 275px);
  gap: 2rem;
  justify-content: center;
  grid-auto-rows: 350px;

  .event-card {
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 14px;
    transition: all var(--transition-speed) ease-in-out;

    .card-image {
      width: 100%;
      height: 210px;
      background-color: var(--gray-color-40);
      border-radius: 12px;
    }

    .card-date {
      margin: .5rem;

      span {
        font-size: 11px;
        color: var(--gray-color-70);
      }
    }

    .card-title {
      margin: .5rem;

      span {
        font-size: 16px;
        color: var(--text-color);
        font-weight: 600;
      }
    }

    .card-location {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: .5rem;

      span {
        font-size: 11px;
        color: var(--gray-color-80);
      }
    }

    .card-price {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 13px;

      span {
        font-size: 18px;
        font-weight: 600;
        color: var(--button-primary-background-color);
      }
    }

    &:hover {
      background-color: var(--gray-color-30);
    }
  }
}

.event-details-container {
  display: grid;
  gap: 1.5rem;
  height: 100%;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content 1fr;
  flex: 1;
  overflow-y: auto;
  height: 100%;

  .event-details {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--background-color);
    border-radius: 16px;

    .event-details-info {
      padding: 1rem;
    }

    .event-details-image {
      width: 100%;
      height: 350px;
      background-color: var(--gray-color-40);
      border-radius: 12px 12px 0 0;
    }

    .event-details-title {
      color: var(--text-color);
      margin: 0 0 1rem 0;
    }

    .event-details-date {
      display: flex;
      align-items: center;
      margin: 0 0 .5rem 0;
      gap: .25rem;

      span {
        font-size: 12px;
        color: var(--gray-color-70);
      }
    }

    .event-details-location {
      display: flex;
      align-items: center;
      gap: .25rem;

      span {
        font-size: 12px;
        color: var(--gray-color-80);
      }
    }

    .horizontal-divider {
      margin: 1.5rem 0 1.5rem 0;
    }

    .event-details-about {
      font-size: 12px;
      font-weight: 600;
      color: var(--headline-text-color);
      margin: 0 0 .5rem 0;
    }

    .event-details-description {
      font-size: 12px;
      color: var(--gray-color-90);
      margin: 0;
    }
  }

  .event-packages {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 1rem 1rem 2rem 1rem;

    .event-packages-title {
      font-size: 16px;
      margin: 4px 0 1.5rem 0;
    }

    .event-packages-list {
      display: grid;
      gap: 1rem;

      .event-packages-list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--main-background-color);
        border-radius: 16px;
        height: 75px;
        padding: 0 1rem 0 1rem;
        transition: all var(--transition-speed) ease-in-out;

        .event-packages-list-item-container {
          .event-packages-list-item-title {
            color: var(--text-color);
            font-size: 16px;
            font-weight: 600;
            margin: 0 0 .5rem 0;
          }

          .event-packages-list-info {
            display: flex;
            gap: 1rem;
            
            .event-packages-list-info-item {
              display: flex;
              align-items: center;
              gap: 4px;

              span {
                font-size: 12px;
                color: var(--gray-color-80);
              }
            }
          }
        }

        .event-packages-list-price {
          justify-self: flex-end;
          font-size: 18px;
          font-weight: 600;
          white-space: nowrap;
          color: var(--button-primary-background-color);
        }

        &:hover {
          background-color: var(--gray-color-30);
        }
      }
    }
  }

  .event-partners {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--background-color);
    border-radius: 16px;
    padding: 1rem;
    height: min-content;

    .event-partners-title {
      font-size: 16px;
      margin: 4px 0 0 0;
    }

    .event-partners-container {
      display: flex;
      align-items: center;
      flex-flow: wrap;
      gap: 2rem;
      padding: 1rem;
    }
  }
}

.booking-form {
  display: grid;
  gap: 1rem;

  .input-container {
    display: grid;

    label {
      font-size: 15px;
      font-weight: 500;
      padding-bottom: .5rem;
    }

    input {
      font-size: 15px;
    }
  }

  .btn {
    margin-top: 1rem;
  }
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

input {
  background-color: inherit;
  font-family: inherit;
  font-size: 14px;
  color: var(--text-color);
  caret-color: var(--text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 16px;
  width: 100%;
  height: 50px;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 3rem;
  outline: none;

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  transition: border var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var(--input-border-focus-color);
    border-width: 1px;
  }
}

input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--input-border-color);
  background-color: inherit;
  transition: all var(--transition-speed) ease-in-out;

  &:checked {
    background-color: var(--checkbox-checked-background-color);
    border-color: var(--checkbox-checked-border-color);
  }
}

input[type="date"] {
  width: 100%;
  min-width: 0;
  padding-right: 1rem;
  appearance: none;
  transition: border-color var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var();
    border-width: 1px;
  }
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
  }
}

textarea {
  background-color: inherit;
  font-family: inherit;
  font-size: var(--font-size-irregular);
  color: var(--color-text);
  caret-color: var(--color-caret-input);
  border: 1px solid var(--color-border-surface-input);
  border-radius: 16px;
  width: 100% !important;
  height: 170px !important;
  padding: 1rem;
  resize: none;
  outline: none;
  transition: border var(--transition-speed) ease-in-out;

  &:focus {
    border-color: var(--color-border-selection-input);
    border-width: 1px;
  }

  &::placeholder {
    color: var(--color-placeholder-input);
  }
}

.input-label {
  font-weight: 500;
  padding-bottom: .5rem;
  padding-top: 1.5rem;
}

.password-input {
  position: relative;
  transition: opacity var(--transition-speed) ease-in-out;

  .btn {
    position: absolute;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  i {
    color: var(--color-text);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 44px;
  font-size: .9em;
  font-weight: 600;
  border-radius: 14px;
  border-style: solid;
  border-width: 1px;
  padding: 0.7rem 1.5rem;
  position: relative;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease-in-out;

  img {
    position: absolute;
    left: 1.5rem;
  }
}

.btn-primary {
  color: var(--button-primary-text-color);
  border-color: var(--button-primary-border-color);
  background-color: var(--button-primary-background-color);
  box-shadow: 0px 4px 10px 0 var(--button-primary-background-color);

  &:hover {
    color: var(--button-primary-hover-text-color);
    border-color: var(--button-primary-hover-border-color);
    background-color: var(--button-primary-hover-background-color);
  }
}

.btn-secondary {
  color: var(--button-secondary-text-color);
  border-color: var(--button-secondary-border-color);
  background-color: var(--button-secondary-background-color);
  box-shadow: 0px 4px 10px 0 var(--button-secondary-background-color);

  &:hover {
    background-color: var(--button-secondary-hover-background-color);
  }
}

a {
  color: var(--link-text-color);
  text-decoration: none;
  position: relative;
  transition: background-color var(--transition-speed) ease-in-out, color var(--transition-speed) ease-in-out;

  &:hover {
    color: var(--link-hover-text-color);
  }
}

.remember-password,
.terms-and-conditions {
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;

  label {
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(-50%, -50%);
    font-size: 10px;
    color: var(--surface-background-color);
  }
}

.sign-up {
  gap: .3rem;
  margin-top: 3.2rem;

  label {
    font-weight: 500;
  }
}